<div class="table-container">
  <table mat-table [dataSource]="listBook" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.description }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <div class="status" [class]="element.status ? 'active' : 'disable'">
          <!-- {{ getContentStatus(element.status) }} -->
          {{ element.status ? "Actived" : "Disabled" }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="wrapper-btn-action">
          <button
            mat-raised-button
            (click)="handleRedirectToAdd()"
            color="primary"
          >
            Add
          </button>
          <button
            mat-raised-button
            (cick)="handleRedirectToDetail(element.id)"
            color="accent"
          >
            Update
          </button>
          <button
            mat-raised-button
            (click)="handleShowModal(TYPE_MODAL.DELETE)"
            color="warn"
          >
            Delete
          </button>
        </div>
      </td>
    </ng-container>
    <!-- <th mat-header-cell *matHeaderCellDef>Operator</th> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<app-modal
  *ngIf="isOpenModal"
  [isOpen]="isOpenModal"
  (closeModal)="isOpenModal = false"
>
  <div class="content" [ngSwitch]="typeModal">
    <app-modal-update *ngSwitchCase="TYPE_MODAL.ADD"></app-modal-update>
    <p *ngSwitchCase="TYPE_MODAL.UPDATE"></p>
    <div *ngSwitchCase="TYPE_MODAL.DELETE">
      <div>Do you want to delete?</div>
    </div>
  </div>
</app-modal>
