<form class="example-form" [formGroup]="formLogin" (ngSubmit)="handleLogin()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex.abc@gmail.com" formControlName="userName" />
    <mat-error>
      <span *ngIf="registerFormControl['userName'].errors?.['required']"
        >Username is required</span
      >
      <span *ngIf="registerFormControl['userName'].errors?.['minlength']"
        >Length from 6 to 32 characters</span
      ></mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width pt-4" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Enter password"
      formControlName="password"
      [type]="visibility ? 'text' : 'password'"
    />

    <mat-icon matSuffix (click)="visibility = !visibility">{{
      visibility ? "visibility" : "visibility_off"
    }}</mat-icon>
    <mat-error>
      <span *ngIf="registerFormControl['password'].errors?.['required']"
        >Password is required</span
      >
    </mat-error>
  </mat-form-field>
  <div class="pt-2 mb-4">
    <button class="btn btn-common btn-lg btn-block" type="submit">Login</button>
  </div>
  <p class="small mb-5 pb-lg-2">
    <a class="text-muted" href="#!">Forgot password?</a>
  </p>
  <p>
    Don't have an account?
    <a href="#!" class="primary-color">Register here</a>
  </p>
</form>
