<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<!-- Toolbar -->

<router-outlet></router-outlet>
<div *ngIf="isLoading" class="spinner">
  <div
    class="spinner-border"
    style="width: 3rem; height: 3rem; color: white"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- <app-modal></app-modal> -->
