
.toolbar{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nvabar-item{
  background-color: rgb(76, 76, 77);
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.spinner{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span{
  color: white;
  font-weight: 400;
  font-size: 16px;
} 