table {
    width: 100%;
  }

.mat-elevation-z8{
    margin-top: 50px;
    
}
.table-container{
    padding: 100px;
    text-align: center;
}


.active{
   padding: 10px;
   border-radius: 8px;
   background-color: rgb(210, 243, 212);
}

.disable{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(222, 220, 247);
}